@charset "UTF-8";

@-ms-viewport
{
    width: device-width;
}

body {
    padding: 0;
    margin: 0;
}

img
{
	max-width: 100%;
	height: auto;
}

/* inicio configuracoes do menu */
.navbar {
    /* position: relative; */
   padding: 0px;
   
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* background: rgba(253, 253, 253, 0.452); */
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: black;
}

.tmimg
{
    width: 24px;
    height: 24px;
    padding: 1.6em;
}

.linkmenu
{
    text-decoration: none;
    color: black;
}

a.linkmenu:hover
{
    font-weight: bold;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}
/* final configuracoes do menu */

/* inicio configuracoes da home  */

/* posicao da imagem */
.imghome
{
    display: inline-block;/*uma div do lado da outra*/
    margin-left: 100px;
    margin-right: 0px;
    text-align: none;
           
}

.linkcompra
{
    font-size: 20px;
    text-decoration: none;
    
}
/* final configuracoes da home */

/* inicio configuracao para as paginas de compras (vestido,moletom e bota)*/

.conteudocompra
{
    display: inline-block;
     margin-left: 15px;

}

.tituloc /*nome dos itens*/
{
    text-align: center;
    font-weight: bold;
}
.compras /*nome do formulario onde estao as opcoes de escolha*/
{
    font-size: 20px;
     width:300px;
    height: 400px;
    /* background-color: aqua; */
    float: left;
}

.bt /*classe principal para posicionar os botoes radiun button cor*/
{
    display: inline-block;/*adicionado qd eu criei desenho de circulo sem ser clicavel/ se fosse radio button apenas nao precisaria disso*/
    margin-top: -80px;
    margin-left: 5px;/*adicionado qd eu criei desenho de circulo sem ser clicavel/ se fosse radio button apenas nao precisaria disso*/
}

/* inicio  classe com configuracao geral dos botoes de cor usado nas paginas(compravestido,compramoletom e comprabota)*/
.corgeral 
{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: none; 
    cursor: pointer;
}
/* final classe com configuracao geral dos botoes de cor*/

/*inicio das cores botoes feminino*/
#cor1f
{
     background-color: rgba(115,31,62,1);
   
}
#cor2f
{
   background-color:#400A23;
}
#cor3f
{
   background-color:#000000 ;
}
#cor4f
{
   background-color:#E82C2C  ;
}
#cor5f
{
    background-color: #6D58BE;
}

/*final das cores dos  buttons feminino*/

/*inicio das cores dos  buttons masculino*/
#cor1m
{
    background-color: #0C0C0A;
}
#cor2m
{
    background-color: #898282;
}
#cor3m
{
    background-color: #192773;
}
#cor4m
{
    background-color: #592B1B;
}
#cor5m
{
    background-color: #5D42C8;
}
/*final das cores dos  buttons masculino*/

/*inicio das cores dos  buttons calcados*/
#cor1b
{
    background-color: #0C0C0A;
}
#cor2b
{
    background-color: #6B280E;
}
#cor3b
{
    background-color: #591F12;
}
#cor4b
{
    background-color: #8C3A27;
}
/*final das cores dos  buttons calcados*/

/*final configuracao para as paginas de compras (vestido,moletom e bota)*/

/*a partir de mil pixels ele tras os risquinhos do menu responsivo, 425*/
@media all and ( max-width: 800px ) { 

    .navbar {
         padding: 1.6em; 
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: black;
    }

    /* posicao da imagem */
.imghome
{
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: center;
}

}


 /* posicao da imagem
 
.imghome
{
    display: inline-block;/*uma div do lado da outra*/
    /* margin-left: 100px;
    margin-right: 0px;
           
}  */
 


/* @media all and ( max-width: 500px ) */