@charset "UTF-8";

@-ms-viewport
{
    width: device-width;
}

body {
    padding: 0;
    margin: 0;
}

img
{
	max-width: 100%;
	height: auto;
}

/* inicio configuracoes do menu */
.navbar {
    /* position: relative; */
   padding: 0px;
   
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* background: rgba(253, 253, 253, 0.452); */
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: black;
}

.tmimg
{
    width: 24px;
    height: 24px;
    padding: 1.6em;
}

.linkmenu
{
    text-decoration: none;
    color: black;
}

a.linkmenu:hover
{
    font-weight: bold;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}
/* final configuracoes do menu */

/* inicio configuracoes da home  */

/* posicao da imagem */
.imghome
{
    display: inline-block;/*uma div do lado da outra*/
    margin-left: 100px;
    margin-right: 0px;
    text-align: none;
           
}

.linkcompra
{
    font-size: 20px;
    text-decoration: none;
    
}

/*configuracao para as paginas de compras (vestido,moletom e bota)*/

.conteudocompra
{
    display: inline-block;
     margin-left: 15px;

}

.compramulher
{
     width:300px;
    height: 400px;
    background-color: aqua;
    float: left;
}

.bt
{
    margin-top: -80px;
}


/* final configuracoes da home */


/*a partir de mil pixels ele tras os risquinhos do menu responsivo, 425*/
@media all and ( max-width: 800px ) { 

    .navbar {
         padding: 1.6em; 
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: black;
    }

    /* posicao da imagem */
.imghome
{
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: center;
}

}


 /* posicao da imagem
 
.imghome
{
    display: inline-block;/*uma div do lado da outra*/
    /* margin-left: 100px;
    margin-right: 0px;
           
}  */
 


/* @media all and ( max-width: 500px ) */