@charset "UTF-8";
body {
    padding: 0;
    margin: 0;
}
/* inicio configuracoes do menu */
.navbar {
    position: relative;
   
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* background: rgba(253, 253, 253, 0.452); */
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: black;
}

.tmimg
{
    width: 24px;
    height: 24px;
    padding: 1.6em;
}

.linkmenu
{
    text-decoration: none;
    color: black;
}

a.linkmenu:hover
{
    font-weight: bold;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}
/* final configuracoes do menu */

/* inicio configuracoes da home  */

/* posicao da imagem */
.imghome
{
    display: inline-block;/*uma div do lado da outra*/
    margin-left: 100px;
           
}

.linkcompra
{
    font-size: 20px;
    text-decoration: none;
    
}



/* final configuracoes da home */


/*responsividade funcionando a partir do maximo da tela de  500px */
@media  ( max-width: 500px ) { 

    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: black;
    }

    /* posicao da imagem */
.imghome
{
    margin-bottom: 40px;
}

}

/*a partir de mil pixels ele tras os risquinhos do menu responsivo*/
@media  ( max-width: 1000px ) { 

    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: black;
    }

    /* posicao da imagem */
.imghome
{
    margin-bottom: 40px;
}

}

/* @media all and ( max-width: 500px ) */